<%- include("../partials/header") %>

<div class="container">

	<form action="/packages/<%= package._id %>/comments" method="POST">
		<table class="table table-striped">
			<caption>这里添加包裹<%= package.id %>的备注信息</caption>
			<thead>
				<tr>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<th>
							<input class="form-control" type="text" name="comment[text]" placeholder="text">
						</th>
						<th>
							<button class="btn btn-primary btn-default">
								Submit!
							</button>	
						</th>
					</tr>
			</tbody>
		</table>
	</form>

	<a href="/packages">Go back!</a>
	
</div>



<%- include("../partials/footer") %>